<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forum</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>
<body>
    <nav>
        <div class="nav-wrapper">
          <div class="container">
            <a href="#" class="brand-logo">Forum</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
              <%if(currentUser){%>
                <li><a href="/f/<%=currentUser._id%>/posts/create">Create Post</a></li>
              <%}%>
              <li><a href="/login">Login</a></li>
              <li><a href="/logout">Logout</a></li>
              <li><a href="/register">Register</a></li>
            </ul>
          </div>
        </div>
    </nav>
